* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, sans-serif;
    background-color: rgba(231, 219, 219, 0.918);
    padding-top: 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(68, 221, 170, 0.514);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #333333;
}
